
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "/src/sass/partials/variables";
@import "./partials/mixins";
@import "style/App.scss";
@import "pagesStyled/FormLogin",
"pagesStyled/HomeUser",
"pagesStyled/UserCard",
"pagesStyled/UserActivities",
"pagesStyled/UsersManagement",
"pagesStyled/AddUser",
"pagesStyled/BuildingManagement",
"pagesStyled/AddBuilding",
"pagesStyled/EditBuilding",
"pagesStyled/AddOffice",
"pagesStyled/OfficeStatus",
"pagesStyled/OfficeInfo",
"pagesStyled/DeskAssignement";


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
html {
    height:100%;
}
body{
    
    background-color: #FFF5EE;
}