.addUser-wrapper {
    .firstlastname {
       
            select {
                border-radius: 20px;
                padding: 10px;
                outline: none;
                border: 1px solid $dark_green;
                background-color:white;
                
                  }
      
    }
}