.home-wrapper {
    background-image: url("../../images/back1.png");
    background-size: cover;
    height: 100vh;
  
    background-position: center;
    position: relative;
display: flex;
flex-direction: row;

    .menu {
        position: absolute;
        top:20px;
        left: 20px;
        font-size: 40px;
        color:#fff;
        cursor: pointer;
        z-index: 9;
    
    }
    .close-menu {
        color:#fff;
        position: absolute;
        top:20px;
        left: 20px;
        font-size: 40px;
    }
}