.card-wrapper{
    width: 350px;
    background-color:  rgba(8,69,69, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    height: 100vh;
    border-top-right-radius: 40px;
    border-bottom-right-radius:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .profile-pic {
        padding-top: 75px;
        img {
            width: 180px;
            height:180px;
            border-radius: 50%;
            border: 12px solid rgb(2, 138, 131);
        }
    }


    /*.circle {
        border-radius: 100% !important;
        overflow: hidden;
        width: 200px;
        height: 200px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        position: absolute;
        border: 12px solid rgb(2, 138, 131);
        top: 72px;
        .profile-pic {
            width: 200px;
            max-height: 200px;
            display: inline-block;
        }
        img {
            max-width: 100%;
            height: auto;
            
        }
    }
    
    .photo-pic{width: 50px;
        height: 50px;

    }

    .p-image {
      position: absolute;
      top: 167px;
      //right: 30px;
      color: #666666;
      transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
      margin-top:60px;
      margin-left:140px ;
      .upload-button {
        
        font-size: 1.2em;
       
      }
      
      .upload-button:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #999;
      }
      .file-upload {
        display: none;
    }
    }
    .p-image:hover {
      transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
*/



    .user-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        line-height: 70px;

        h2 {
            font-size: 25px;
            margin-bottom:-25px;
        }
        p{
            margin-top:5px;
            font-size: 18px;
        }

        .office-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 70px;
            margin: 0px 25px;
            small {
                font-size: 20px;
            }
        }

        button {
           background-color:rgb(2, 138, 131, 0.6);
           color: #fff;
           cursor: pointer;
           padding: 16px 40px;
           margin-top: 40px;
           border-radius: 20px;
           font-size: 20px;
           border:2px solid $dark_green;

           &:hover {
               background-color:$dark_green;
           }
        }

        .btnLogOut{
            background-color:rgb(2, 138, 131, 0.6);
            color: #fff;
            cursor: pointer;
            padding: 16px 40px;
            margin-top: 150px;
        
            border-radius: 20px;
            font-size: 20px;
            border:2px solid $dark_green;
 
            &:hover {
                background-color:$dark_green;
            }
        }
    }
}